.root {
    -fx-background-color: #2d383a;
}

.button {
   -fx-background-color: #003261;
   -fx-text-fill: white;	
   -fx-border-color: white;
   -fx-border-width: 1pt;
   -fx-border-radius: 0;
}

.label {
    -fx-text-alignment: center;
}

#userSpeechDisplay {
    -fx-text-fill: gray;
    -fx-font-size: 20pt;
}

#warningLabel {
    -fx-text-fill: red;
}
